{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply to SHINE</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/apply.css' %}">
</head>
<body>
    <div class="header" id="myHeader">
        <h2 style="font-size: 1.2em; margin-left: 70px; color:white; font-family: Segoe UI,Arial,sans-serif; font-weight: 400;"><a href="/" style="color: white; text-decoration: none;">S.H.I.N.E</a></h2>
        <div class="navigation">
            <ul>
                <li ><a style="color:white" href="/home">Home</a></li>
                <li ><a style="color:white" href="/about">About</a> </li>
                <li ><a style="color:white" href="/apply">Apply</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn" style="color:white">Companies</a>
                    <div class="dropdown-content">
                        {% for company in companies %}
                            <a class="companies" href="{% url 'companies.detail' company.id %}">{{ company.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="apply-message-container">
        <h1>Interested in applying to SHINE?</h1>
        <p>
            To have your training assessed on our platform, please contact us directly at
            <strong><a href="mailto:SHINE@floridainnovation.org">SHINE@floridainnovation.org</a></strong>.
        </p>
    </div>

    <script src="{% static 'js/about.js' %}"></script>
</body>
</html>
